 a:visited{ text-decoration: none}
 a:active  { text-decoration: none} 
 a:link { text-decoration: none}
 td {  font-family: Arial, Helvetica, sans-serif}
 font {  font-family: Arial, Helvetica, sans-serif}
 form {  font-family: Arial, Helvetica, sans-serif; size: 10px}
html { height: 100%; }
.full { height: 95%; }
body { 
          height: 100%; 
          font-family: Verdana, Arial, Helvetica, sans-serif; 
          font-size: 11px; 
          background:#ffffff; 
          color: #000000; 
          margin-top : 0;
          margin-right : 0;
          margin-bottom : 0;
          margin-left : 0;
          padding-top : 0;
          padding-right : 0;
          padding-bottom : 0;
          padding-left : 0;
}

a { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #237CB1; text-decoration: none; }
td {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; color: #000000; }
.error {  font-family: Tahoma; font-size: 18px; font-weight: bold; color: #FF0000; }
ul {
          list-style-type : disc;
          list-style-image : url(/web/20180123063327im_/http://plgrs.lacab.it/img/pointer1.gif);
          font-family : Verdana, Arial, Helvetica, sans-serif;
          font-size : 10px;
          margin-top : 2;
          margin-right : 2;
          margin-bottom : 2;
          margin-left : 10;
          padding-top : 2;
          padding-right : 2;
          padding-bottom : 2;
          padding-left : 2;
      }
input {
          font : 12px Verdana, Arial, Helvetica, sans-serif;
          background-color : #ffffff;
          color : #666666;
          border-left : 1px solid #666666;
          border-right : 1px solid #666666;
          border-top : 1px solid #666666;
          border-bottom : 1px solid #666666;
      }
select {
          font : 12px Verdana, Arial, Helvetica, sans-serif;
          background-color : #ffffff;
          color : #666666;
          border-left : 1px solid #666666;
          border-right : 1px solid #666666;
          border-top : 1px solid #666666;
          border-bottom : 1px solid #666666;
      }
textarea {
          font : 12px Verdana, Arial, Helvetica, sans-serif;
          background-color : #ffffff;
          color : #666666;
          border-left : 1px solid #666666;
          border-right : 1px solid #666666;
          border-top : 1px solid #666666;
          border-bottom : 1px solid #666666;
      }
.sezione {  font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold; color: #FF9900}
.item { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; }
.notice {  font-family:  Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #FF6600}
.titolo { color: #000000; font-family:  Verdana, Arial, Helvetica, sans-serif; font-size: 18px}
.sottotitolo { font-family:  Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #990000 }
.bg1 { background: #EFEFFF; background-color:#EFEFFF;}
.bg0 { background: #ffffff; background-color:#ffffff;}
.paratitolo {  background-color: #66CCFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; color: #990000; font-weight: bold}
.scrittalogo {  font-family: Arial, Helvetica, sans-serif; font-size: 24px; font-weight: bold; color: #bbba49}
.tdmenu {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #181850; background-image: url(/web/20180123063327im_/http://plgrs.lacab.it/palindromi/bgmenu.png); height: 30px; width: 130px}
.atdmenu {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #181850; height: 30px; width: 130px}
.bordino {  border: 1px #900105 solid; border-collapse: collapse; }
.bordinodot { border: #900105; border-style: dotted; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px }

/*
     FILE ARCHIVED ON 06:33:27 Jan 23, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:20:22 Oct 25, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  load_resource: 363.678
  PetaboxLoader3.datanode: 53.552 (5)
  captures_list: 56.311
  RedisCDXSource: 4.885
  CDXLines.iter: 15.641 (3)
  PetaboxLoader3.resolve: 297.517 (2)
  esindex: 0.011
  exclusion.robots.policy: 0.114
  LoadShardBlock: 31.372 (3)
  exclusion.robots: 0.123
*/